body{
  background-color: #1A1B20;
  text-align: center;
}
.App {
  text-align: center;
  background-color: #1A1B20;
  width: 17%;
  margin: auto;
}
.imageProfile{
  width: 100%;
}
.buttonEmail{
  color: black;
  background-color: white;
}
a{
  text-decoration: none;
  padding:0.5em 1.5em;
  border-radius:7px;
}
.buttonLinkedin{
  color:white;
  background-color: #4F92E2;
}
h1{
  color: white;
}
h3{
  color:#B38D73;
}
h2,p{
  color: white;
}
.footer{
  background-color: black;
}
.iconsFooter{
  width: 15%;
  margin: 0px 2rem;
}
.buttonSection{
  width: 100%;
  display: flex;
  justify-content: space-around;
}